entorno24261/Lib/site-packages/_mysql_connector.cp312-win_amd64.pyd
entorno24261/Lib/site-packages/libcrypto-3-x64.dll
entorno24261/Lib/site-packages/libmysql.dll
entorno24261/Lib/site-packages/libssl-3-x64.dll
entorno24261/Lib/site-packages/markupsafe/_speedups.cp312-win_amd64.pyd
entorno24261/Scripts/flask.exe
entorno24261/Scripts/python.exe
