<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Golosinas</title>
    <script src="https://kit.fontawesome.com/a03e984235.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/estilos-general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/estilos-carrito.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/estilos-producto.css') }}">
</head>
<body>
    <header class="header">
        <h1>Administración Sweet_Candy</h1>
    </header>

    <section class="productos">
        {% for producto in productos %}
        <div class="producto">
            <img src="{{ url_for('static', filename='recursos/' ~ producto.imagen) }}" alt="{{ producto.nombre }}">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.descripcion }}</p>
            <a href="{{ url_for('web.editar_producto', id=producto.id) }}"><button>Editar</button></a>
            <a href="{{ url_for('web.eliminar_producto', id=producto.id) }}"><button>Eliminar</button></a>
        </div>
        {% endfor %}
    </section>

    <footer class="footer">
        <!-- ... contenido del footer ... -->
    </footer>
</body>
</html>
