<!-- templates/usuarios.html -->
{% extends 'layout.html' %}

{% block content %}
<h1>Usuarios</h1>

{% if usuario %}
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
    {% for mostrar in usuario %}
      <tr>
        <th scope="row">{{mostrar.id}}</th>
        <td>{{mostrar.email}}</td>
        <td>{{mostrar.password}}</td>
        <td>{{mostrar.fecha}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p> No hay datos </p>
{% endif %}
    <br><a href="{{ url_for('web.index') }}">Volver</a>
{% endblock %}